<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Aplicar para una oferta de trabajo</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link rel="stylesheet" href="/css/stylesT.css">    
  </head>

  <body class="pers">

    <header th:insert="~{fragments/menu :: menu-principal}"></header>

    <main role="main">     
      <hr>
      <div class="container"> 
        <div class="row">
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/logos/{img} (img=${vacante.imagen}) }" alt="Generic placeholder image" width="220" height="220">            
          </div>
          <div class="col-md-9">
            <div class="cardA">
              <h4 class="cardA-header"><strong>Aplicar para la vacante <span th:text="${vacante.nombre}"></span></strong></h4>              
              <div class="cardA-body">
                <h5 class="cardA-title"><strong>Categoría: </strong><span th:text="${vacante.categoria.nombre}"></span></h5>
                <h6 class="cardA-title"><strong>Publicado: </strong><span th:text="${#dates.format(vacante.fecha, 'dd-MM-yyyy')}"></span></h6>
                <h6 class="cardA-title"><strong>Salario Ofrecido: </strong><span th:text="${vacante.salario}">$9000</span></h6>                
                <p class="cardA-text" th:text="${vacante.descripcion}"></p>
                <hr>
                <form th:action="@{/solicitudes/save}" th:object="${solicitud}" method="post" enctype="multipart/form-data">                                                 
                  <div class="row">
                    <div class="col-md-6"> 
                      <div class="form-group">
                        <input type="hidden" th:name="vacante.id" th:value="${vacante.id}">
                        <label for="comentarios">Comentarios</label>
                        <textarea class="formE-control" name="comentarios" th:field="*{comentarios}" id="comentarios" rows="2"></textarea>
                      </div> 
                    </div> 
                    <div class="col-md-6"> 
                      <div class="form-group">
                        <label for="archivoCV">Curriculm Vitae</label>
                        <input type="file" class="form-control-file" name="archivoCV" id="archivoCV" required="true"  accept=".pdf,.doc,.docx" onchange="validarTamañoArchivo(this)">
                        <p class="help-block">Solo se permiten archivos [ pdf,doc,docx ]</p>
                      </div>
                    </div>
                  </div> 
                  <hr>
                  <button type="submit" class="btn btnPropio">Enviar</button>  
                </form>
              </div>
            </div> 
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="~{fragments/footer :: pie-pagina}" class="footerT"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>  
    <script>
    function validarTamañoArchivo(input) {
        // Obtener el tamaño del archivo seleccionado
        var fileSize = input.files[0].size; // Tamaño en bytes
        var maxSize = 2 * 1024 * 1024; // 2MB en bytes
        
        // Verificar si el tamaño del archivo excede el límite
        if (fileSize > maxSize) {
            // El archivo es demasiado grande, mostrar un mensaje de error
            alert("El tamaño del archivo excede el límite permitido (2MB)");
            // Limpiar el valor del campo de entrada de archivo para que el usuario pueda seleccionar otro archivo
            input.value = ''; // Limpiar el valor del campo de entrada de archivo
        }
    }
</script>
       
  </body>
</html>